.paper {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    margin: 1px;
    background-color: black;
}

.form {
    width: 100%;
    margin: 3px 3px
}

.submit {
    box-sizing: border-box;
    margin: 100px 100px 100px;
}
