.Box {
    width: 90%;
    margin: auto;
    text-align: center;
}

.Tile {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 255, .20);
    min-height: 7rem;
    display: flex;
}

.Tile:hover{
    background-color: yellow;
}

.CalenderItemBlock {
    flex-direction: column;
    align-self: baseline;
    margin: 2px auto;
    width: 100%;
}

.CalenderItem{
    background-color: blue;
    color: white;
    border-radius: 20px;
    border: black 2px;
    padding: 4%;
}

.CalenderItem:hover{
    color: black;
    background-color: yellow;
}

.PastCalenderItem{
    background-color: red;
    color: white;
    border-radius: 20px;
    border: black 2px;
    padding: 3%;
}

.PastCalenderItem:hover{
    color: black;
    background-color: red;
}
