.Box {
    width: 90%;
    margin: auto;
    /*background-color: rgba(218,243,255,0.58);*/
    text-align: center;
}

.Tile {
    border: 5px solid lightblue;
    background-image: linear-gradient(to top, rgba(255,255,255,.1), rgba(0,0,1,.2));
    box-shadow: lightblue 2px 2px;
    min-height: 7rem;
    display: flex;
}

.Tile:hover{
    background-color: yellow;
}

.CalenderItemBlock {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin: 2px auto;
}

.CalenderItem{
    background-color: blue;
    color: white;
    border-radius: 20px;
    border: black 2px;
    padding: 3%;
}

.CalenderItem:hover{
    color: black;
    background-color: yellow;
}

.PastCalenderItem{
    background-color: red;
    color: white;
    border-radius: 20px;
    border: black 2px;
    padding: 3px 5px;
}

.PastCalenderItem:hover{
    color: black;
    background-color: red;
}

